.primary-background {
    background-color: #D5F0C1;
}

.secondary-background {
    background-color: #F9F7C9;
}

.context-background {
    background-color:whitesmoke;
}

.logo-login-box {
    width: max-content;
    padding: 4% 0% 4% 10%;
}

@media screen and (max-width: 1212px) { 
    .logo-login-box {
        display: none; 
        padding: 0%;
    }
}

.login-box {
    text-align: center;
    border-radius: 10px;
    padding: 4% 0;
    align-self: center;
    margin: 0 10%;
}

.validation {
    color: aliceblue;
    position: fixed; 
    bottom: -3vh; 
    width: 100%; 
    border-radius: 0px;
    padding: 1.5rem 5rem;
}

.user-box {
    background-color: whitesmoke;
    text-align: center;
    border-radius: 10px;
}

.link-box {
    text-decoration: none;
    border-radius: 7px;
    background-color: #ffc107;
    margin: auto 3.5rem;
    padding: 0.75rem;
    text-align: center;
    font-weight: 600;
    width: 75%;
    height: 3rem;
    display: inline-block;
}

.link-text {
    color: #ab0010;
    text-decoration: none;
}